# Ignore hidden folders inside platform
platform/*/.*

# Ignore data folders
platform/*/data/*

# Ignore mlflow files
platform/mlflow/mlruns

# Ignore pycache
__pycache__/

#Ignore notebooks checkpoints
.ipynb_checkpoints

# Keep .keep files
!.keep
